pkgbase = python-optuna
	pkgdesc = A hyperparameter optimization framework
	pkgver = 3.1.1
	pkgrel = 1
	url = https://optuna.org
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python-alembic
	depends = python-cmaes
	depends = python-colorlog
	depends = python-numpy
	depends = python-packaging
	depends = python-sqlalchemy
	depends = python-yaml
	source = optuna-3.1.1.tar.gz::https://github.com/optuna/optuna/archive/v3.1.1.tar.gz
	sha256sums = 4e760b067a6234a556e9a707fb47483ffba5ea8bc0b23997766a23e3603b9a82

pkgname = python-optuna
