pkgbase = python-optuna
	pkgdesc = A hyperparameter optimization framework
	pkgver = 3.3.0
	pkgrel = 1
	url = https://optuna.org
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python-alembic
	depends = python-cmaes
	depends = python-colorlog
	depends = python-numpy
	depends = python-packaging
	depends = python-sqlalchemy
	depends = python-yaml
	source = optuna-3.3.0.tar.gz::https://github.com/optuna/optuna/archive/v3.3.0.tar.gz
	sha256sums = 17f4b6605fb34d6c3ad65b547110b5d920ed3486e61e33d980fb272a0d991b35

pkgname = python-optuna
